.login-container{
    margin: 100px auto;
    background-color: #ff9344;
    box-shadow: 0 3px 6px 0 gainsboro;
    padding: 100px 0;
}
img.logo-banner-img{
    padding: 0 30px;
    border-right: 1px solid black;
}